<div class="modal fade" id="modalDeveloping" tabindex="-1" aria-labelledby="modalDevelopingLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-3 border-0 shadow">
      <div class="modal-header border-0 pb-0">
        <h5 class="modal-title fw-bold" id="modalDevelopingLabel">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
      </div>
      <div class="modal-body pt-2">
        <p class="text-secondary mb-0" id="modalDevelopingBody">Tính năng đang phát triển. Vui lòng quay lại sau.</p>
      </div>
      <div class="modal-footer border-0 pt-0">
        <button type="button" class="btn btn-secondary rounded-pill px-4" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
